{% extends 'records/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <!-- <h1 class="text-center mt-3">Welcome {{ name }}!</h1> -->
    <div class="container mt-3">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>State</th>
                    <th>     </th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.first_name }} {{ record.last_name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.city }}</td>
                    <td>{{ record.state }}</td>
                    <td><a href="{% url 'view_record' record.id %}" class="btn btn-secondary">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h1 class="text-center mt-3">Login</h1>
    <div class="container mt-9 col-md-6">
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <!-- <label for="username" class="form-label">Username</label> -->
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <!-- <label for="password" class="form-label">Password</label> -->
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary ">Login</button>
        </form>
    </div>
{% endif %}
{% endblock %}
